<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="static/site.css" rel="stylesheet" />
    <base target="_blank" />
    <title>URL Shortener</title>
    <style>
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Ock Ju Won's URL Shortener.</h1>
      <h1>FastAPI 기반 URL 단축 서비스 - 옥주원</h1>
    </header>
    <main>
      <p>
        Go to my Github page
        <a
          href="https://github.com/OckJuWon0831/url-shortener"
          rel="noopener noreferrer"
          >GitHub</a
        >
        repository for the code and usage instructions.
      </p>
      <br />
      <p>
        Visit the
        <a href="/docs" rel="noopener noreferrer">API Swagger documentation</a>
        for info on the API.
      </p>
      <br />
      <br />
      <br />
      <div class="center">
        <img
          src="https://media.licdn.com/dms/image/D5635AQEH7YaZVin6FQ/profile-framedphoto-shrink_800_800/0/1717576316981?e=1719586800&v=beta&t=YAq-2Py6VkR7fFCt5mGl3qerqNPczWJqfyM_LAs6oN0"
          alt="Ock Ju Won's Photo"
        />
      </div>
      <br />
      <div class="center">
        <a
          href="https://www.linkedin.com/in/ockjuwon/"
          rel="noopener noreferrer"
          >https://www.linkedin.com/in/ockjuwon
        </a>
      </div>
    </main>
  </body>
</html>
