<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="static/site.css" rel="stylesheet" />
    <base target="_blank" />
    <title>URL Shortener</title>
  </head>

  <body>
    <header>
      <h1>Ock Ju Won's URL Shortener.</h1>
    </header>
    <main>
      <p>
        Go to my Github page
        <a
          href="https://github.com/OckJuWon0831/url-shortener"
          rel="noopener noreferrer"
          >GitHub</a
        >
        repository for the code and usage instructions.
      </p>
      <p>
        Visit the
        <a href="/docs" rel="noopener noreferrer">local documentation</a> for
        info on the API.
      </p>
    </main>
  </body>
</html>
